/*css of this page and the sponsors-home are same, so most of the css is there in the sponsors-home section of home page*/

.sponsors{
    background: #7b4397 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(20deg, #dc2430, #7b4397) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(20deg, #dc2430, #7b4397) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.ctn9{
    display: flex;
    flex-wrap: wrap;
}

.box{
    flex: 1 0 23%;
}

.ctn10{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.links{
    color: white;
    font-size: 20px;
    margin: 20px;
    transition: 0.2s;
    font-weight: 800;
}

.links:hover{
    color: black;
    text-decoration: none;
    background: white;
    padding: 5px;
    border-radius: 0 8px;
}

@media(max-width:425px){
    .links{
        font-size: 15px;
    }
}

@media(max-width:330px){
    .link-text{
        font-size: 14px;
    }
}

.ctn11{
    display: flex;
    padding-top: 300px;
    justify-content: center;
    align-items: center;
}

.ctn15{
    display: flex;
    padding-top: 180px;
    justify-content: center;
    align-items: center;
}

.btn{
    color:#7b4397 ;
    font-weight: 800;
    background: white;
    margin: 10px;
    font-size: 20px;

}

.btn:hover{
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.header3{
    text-align: center;
    margin-top: 50px;
    margin-bottom: -150px;
    color: white;
    background: black;
    border: 1px dotted black;
    border-radius: 20px 0;
    padding: 10px;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1px;
    box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

@media(max-width:420px){
    .header3{
        font-size: 20px;
        width: 250px;
    }
}

.hc_image{
    
    max-height: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.ctn12{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.individual_heads{
    flex: 1 0 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.spons_hc_name{
    text-align: center;
    color: white;
    font-weight: 800;
    margin-top: 15px;
    border: 2px solid white;
    background: black;
    border-radius: 0 0 8px 8px;
    padding: 8px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.spons_phone{
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.spons_phone:hover{
    color: black;
}

.center{
    text-align: center;
}

.center1{
    text-align: center;
    font-size: 45px;
}

.social:hover{
    color: white;
}

.spons_email{
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.spons_email:hover{
    color: black;
}

.header4{
    text-align: center;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    background: black;
    border: 1px dotted black;
    border-radius: 20px 0;
    padding: 10px;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1px;
    box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}

@media(max-width:1050px){
    .header4{
        font-size: 20px;
    }
}

@media(max-width:495px){
    .header4{
        font-size: 15px;
    }
}