/*css of this page and the sponsors-home are same, so most of the css is there in the sponsors-home section of home page*/

.sponsors{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(20deg, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(20deg, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.ctn9{
    display: flex;
    flex-wrap: wrap;
}

.box{
    flex: 1 0 23%;
}

