#resend_otp {
    font-weight: bold;
    color: skyblue;
    cursor: pointer;
}
 
#logoutModal .details {
    font-size: 125%;
}

#phnoverified_btn{
    font-weight: bold;
    cursor: pointer;
    color: white;
    background: red;
    padding: 5px;
    margin-top: 20px;
    display: inline-block;
}