.spons{
    margin-top: 100px;
    
  }
  
  .ph-no{
    font-weight: 800;
    font-size: 20px;
  }
  .web{
    text-decoration: none;
    font-weight: 800;
    color: white;
  }
  .web:hover{
    text-decoration: none;
  }
  
  .spons-image{
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
  }
  
  .heading-4{
    margin-top: 100px;
    text-align: center;
    font-weight: 800;
    padding-bottom: 30px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 10px 5px rgba(0,0,0,0.2);
  }
  
  
  
  .cont{
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-bottom: 150px;
  }
  
  .front{
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 150px;
    min-width: 150px;
    width: auto;
    height: auto;
    font-size: 1rem;
    color: white
  }


  .slick-dots{
    position: relative;
    top: -20px;
   
  }
  

  .back{
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 200px;
    height: auto;
    color: white;
    font-size: 1rem;
    background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
  }
  
  .front::after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content:'';
    display: block;
    backface-visibility: hidden;
  }
  
  .cont:hover .front,.cont:hover .back{
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  }
  
  
  .inner{
    transform: translateY(50%) translateZ(60px) scale(0.94);
    top: -50%;
    position: absolute;
    left: 0;
    width: 100%;outline-offset: -8px;
    padding: 2rem;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
  
  }
  
  
  .cont .back{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  
  }
  
  
  .cont .front{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  
  .cont:hover .back{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  
  }
  
  .cont:hover .front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }
  
  
  
  .back .inner p::after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: white;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 1rem;
  }
  