<!DOCTYPE html>
<html>
<head>
	<title>Leaderboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/assets/css/leaderboard.css" rel="stylesheet" />
</head>
<body>
    <div class="display-4 text-center">Leaderboard</div>
    <table>
	<thead>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Score</th>
	</tr>
	</thead>
	<tbody>
    {% for ca in cas %}
	<tr>
		<td>{{ca.user.first_name}}&nbsp{{ca.user.last_name}}</td>
        <td>{{ca.user.email}}</td>
        <td>{{ca.ca_score}}</td>
	</tr>
    {% endfor %}
    </tbody>
    </table>
</body>
</html>