.demo{ 
    background-color: #00629F;
    display:flex;
}
.main-timeline{
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    padding: 40px 0;
}
.main-timeline:before{
    content: '';
    background-color: #FFD004;
    height: 100%;
    width: 30px;
    border: 7px solid #F26F37;
    border-top: none;
    border-bottom: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    color: #fff;
    width: 50.1%;
    float: left;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: '';
    background-color: #fff;
    height: 2px;
    width: 100px;
    position: absolute;
    right: 42px;
    top: 4px;
}
.main-timeline .timeline:after{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 0;
    right: 133px;
}
.main-timeline .timeline-content{
    color: #fff;
    padding: 10px 150px 0 0;
    display: flex;
    position: relative;
}
.main-timeline .timeline-content:hover{
    color: #fff;
    text-decoration: none;
}
.main-timeline .timeline-year{
    background-color: #CE3E95;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 60px;
    box-shadow: 0 0 5px #000 inset,0 0 0 10px #fff;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    top: 0;
}
.main-timeline .title{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px 0;
}
.main-timeline .title i{
    font-size: 35px;
    margin-top: 5px;
    margin-left: 5px;
}
.main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
}
.main-timeline .timeline:nth-child(even){ float: right; }
.main-timeline .timeline:nth-child(even):before{
    right: auto;
    left: 42px;
}
.main-timeline .timeline:nth-child(even):after{
    right: auto;
    left: 133px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 10px 0 0 150px; }
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: -29px;
}
@media only screen and (max-width:990px){
    .main-timeline .timeline:before{ width: 50px; }
    .main-timeline .timeline:after{ right: 90px; }
    .main-timeline .timeline-content{ padding: 10px 80px 0 0; }
    .main-timeline .timeline:nth-child(even):after{ left: 90px; }
    .main-timeline .timeline:nth-child(even) .timeline-content{ padding: 10px 0 0 80px; }
}
@media only screen and (max-width:767px){
    .main-timeline:before{
        transform: translateX(0);
        left: 15px;
    }
    .main-timeline .timeline{
        width: 100%;
        margin-bottom: 30px;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(even):before{
        left: 80px;
    }
    .main-timeline .timeline:after,
    .main-timeline .timeline:nth-child(even):after{
        left: 120px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        left: 0;
    }
    .main-timeline .timeline-content{ padding: 10px 0 0 80px; }
    .main-timeline .title{ font-size: 20px; }
    .main-timeline .title i{ font-size: 25px; }
}
