.intro .container-fluid{
  background: #7b4397;  /* fallback for old browsers */
background: -webkit-linear-gradient(20deg, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(20deg, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
     /*text*/
  
  .col-1{
     text-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  .countdown{
    position: relative;
    font-size: 25px;
    display: flex;
    margin: 0px auto !important;
    justify-content: center;
    text-align: center;
  }
  
  .countdown div{
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin:5px;
    opacity: 0.7;
    background: #000;
    color: white;
    font-weight: 600;
  }
  
  .countdown div:first-child{
    background: #17a2b8;
  }
  
  @media(max-width:1150px){
    .countdown div:nth-child(4){
      display: none;
    }
  }
  
  @media(max-width:1150px){
    .countdown div:nth-child(4){
      display: block;
    }
  
    /*.countdown{
      margin-left: 20%;
    }*/
  }

  @media(max-width:1080px){
    .countdown div{
      padding: 15px;;
    }

    .countdown{
      font-size: 20px;
    }
  }

  @media(max-width:850px){
    .countdown{
      margin-left: 15%;
    }
  }

  @media(max-width:767px){
    .countdown{
      margin-left: 17%;
    }
  }

  @media(max-width:767px){
    .countdown{
      margin-left: 15%;
    }
  }
  
  @media(max-width:670px){
    .countdown{
      margin-left: 13%;
    }
  }

  @media(max-width:605px){
    .countdown{
      margin-left: 2%;
    }
  }
  
  
  
  @media(max-width:510px){
    .countdown div{
      
      padding: 10px;
    }
  
    .countdown{
      font-size: 15px;
      margin-left: 4em;
    }
  }

  @media(max-width:480px){
    .countdown{
      margin-left: 3em;
    }
  }
  
  @media(max-width:440px){
  
    .countdown{
      margin-left: 1.5em;
    }
  }

  @media(max-width:400px){
  
    .countdown{
      margin-left: 1em;
    }
  }
  
  @media(max-width:380px){
    .countdown{
      margin-left: 0em;
    }
  }
  
  @media(max-width:340px){
    .countdown{
      margin-left: -0.5em;
    }
  }

  @media(max-width:360px){
    .countdown div{
      padding: 8px;;
    }

    .countdown{
      font-size: 12px;
    }
  }
  
  .countdown span{
    display: block;
    font-size: 20px;
  }

  @media(max-width:510px){
    .countdown span{
      font-size: 15px;
    }
  }
  
  
  
  
  
  /*waves*/
  
  .wave{
    position: relative;
    width: 120%;
    height: 143px;
    bottom: 0;
    left: -10%;
    background: url("../../../assets/wave.png");
    animation: animate 10s linear infinite;
  }
  
  .ctn-1 .wave::before{
    content: '';
    width: 100%;
    height: 143px;
    background: url("../../../assets/wave.png");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate-reverse 10s linear infinite;
  }
  
  .ctn-1 .wave::after{
    content: '';
    width: 100%;
    height: 143px;
    background: url("../../../assets/wave.png");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate 15s linear infinite;
  }
  
  @keyframes animate{
    0%
    {
      background-position:0;
    }
  
    100%
    {
      background-position:1360px;
    }
  }
  @keyframes animate-reverse{
    0%
    {
      background-position:1360px;
    }
  
    100%
    {
      background-position:0px;
    }
  }
  
  
  
  
  
  
     /*image*/
  
  
  
  
  .bulb{
   text-align: center;
    margin-top: 30%;
  }
  
  @media(max-width:1170px){
    .bulb{
      margin-top: 20%;
    }
  }
  
  @media(max-width:940px){
    .bulb{
      margin-top: 12%;
    }
  }
  
  
  
  .banner-div{
    display:flex;
    justify-content: center;
  }

  .banner-col{
    display: flex;
    justify-content: center;
    margin-top: 13%;
  }

  .banner{
    width: 750px;
  }
  
  @media (max-width:1480px){
    .banner{
      width: 650px;
    }
  
  }
  
  
  @media (max-width:1080px){
    .banner{
      width: 600px;
    }
  
  }
  
  @media (max-width:1020px){
    .banner{
      width: 550px;
    }
  
  }

  @media (max-width:1000px){
    .banner{
      margin-top: 13%;
      width: 530px;
    }
  
  }
  
  @media (max-width:940px){
    .banner{
      width: 500px;
    }
  
  }
  
  @media (max-width:850px){
    .banner{
      margin-top: 13%;
      width: 480px;
    }
  
  }
  
  @media (max-width:767px){
    .banner{
      margin-top: 20%;
      width: 550px;
    }
  
  }
  
  @media (max-width:605px){
    .banner{
      margin-top: 8em;
      width: 510px;
    }
  
  }
  
  @media (max-width:515px){
    .banner{
      margin-top: 8em;
      width: 470px;
    }
  
  }
  
  @media (max-width:480px){
    .banner{
      margin-top: 9em;
      width: 430px;
    }
  
  }
  
  @media (max-width:440px){
    .banner{
     margin-top: 9em;
      width: 400px;
    }
  
  }
  
  @media (max-width:415px){
    .banner{
      margin-top: 9em;
      width: 350px;
    }
  
  }

  @media (max-width:400px){
    .banner{
      margin-top:9em;
      width: 350px;
    }
  
  }
  
  @media (max-width:380px){
    .banner{
      margin-top: 10em;
      width: 330px;
    }
  
  }
  
  @media (max-width:340px){
    .banner{
      margin-top: 10em;
      width: 320px;
    }
  
  }
  
  
  
  .image-1{
    width: 400px;
    height: 400px;
    border: none;
  }
  
  @media(max-width:1480px){
    .image-1{
      width: 350px;
      
    }
  }
  
  @media(max-width:1350px){
    .image-1{
      width: 300px;
    }
  }
  
  @media(max-width:1170px){
    .image-1{
      width: 250px;
    }
  }
  
  @media(max-width:940px){
    .image-1{
      width: 200px;
    }
  }
  
  @media(max-width:767px){
    .image-1{
      width: 350px;
      height: 350px;
    }
  }

  @media(max-width:400px){
    .image-1{
      width: 300px;
      height: 300px;
    }
  }
  
  

  