.toggle{
    position: fixed;
    top: 50px;
    right: 20px;
    min-width: 40px;
    height: 40px;
    background: #262626;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.5s;
    z-index: 900;
    border: 1px solid #fff;
    padding: 0 20px;
  }
  
  .logo{
    position: absolute;
    top: 20px;
    left: 20px;
    min-width: 120px;
    height: 120px;
    transition: 0.5s;
    z-index: 890;
  }

  .active{
    color: black;
    background: white;
    padding: 0.7px;
    border-radius: 0 10px;
  }
  
  /*.header{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 5px;
  }
  
  @media(max-width:1458px){
    .header{
      font-size: 35px;
    }
  }
  
  @media(max-width:1307px){
    .header{
      font-size: 30px;
    }
  }
  
  @media(max-width:1156px){
    .header{
      font-size: 25px;
    }
  }
  
  @media(max-width:1006px){
    .header{
      font-size: 20px;
    }
  }
  
  @media(max-width:854px){
    .header{
      display: none;
    }
  }
  
  .header2{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 5px;
    display: none;
  }
  
  @media(max-width:854px){
    .header2{
      display: block;
    }
  }
  
  @media(max-width:705px){
    .header2{
      top: 130px;
      font-size: 35px;
    }
  }
  
  @media(max-width:610px){
    .header2{
      top: 130px;
      font-size: 25px;
    }
  }
  
  @media(max-width:520px){
    .header2{
      top: 130px;
      font-size: 20px;
    }
  }
  
  @media(max-width:470px){
    .header2{
      top: 160px;
      font-size: 25px;
    }
  }
  
  @media(max-width:388px){
    .header2{
      top: 160px;
      font-size: 20px;
    }
  }
  
  @media(max-width:327px){
    .header2{
      top: 160px;
      font-size: 17px;
    }
  }*/
  
  .logo.active1{
    position: fixed;
    top: 7%;
    left: 48%;
    z-index: 900;
  }
  
  @media(max-width:1530px){
    .logo.active1{
      left: 46%;
    }
  }
  
  @media(max-width:1300px){
    .logo.active1{
      left: 45%;
    }
  }
  
  @media(max-width:1000px){
    .logo.active1{
      left: 44%;
    }
  }
  
  @media(max-width:830px){
    .logo.active1{
      left: 44%;
    }
  }
  
  
  @media (max-width:768px){
    .logo{
      margin:7px;
      min-width: 80px;
      height: 80px;
    }
  
    .logo.active1{
      top: 80%;
      left: 42%;
    }
  
  }

  @media(min-height:1024px){
    .logo.active1{
      left: 45.5%;
    }
  }

  @media(min-height:1025px){
    .logo.active1{
      left: 42%;
    }
  }

  @media(min-height:1366px){
    .logo.active1{
      left: 46.5%;
    }
  }

  @media(min-height:1367px){
    .logo.active1{
      left: 42%;
    }
  }
  
  .toggle:before{
    content: 'Menu';
    color: #fff;
    line-height: 40px;
  
  }
  
  .toggle.active:before{
    content: 'Close';
    color: #fff;
    line-height: 40px;
  
  }
  
  .sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 890;
  }
  
  .sidebar.active1{
    left: 0;
  }
  
  ul{
    position: relative;
    top: 0%;
  }
  
  ul li{
    list-style: none;
    text-align: center;
  }
  
  ul li a{
    display: block;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.65em;
    letter-spacing: 1px;
    font-weight: 800;
    transition: 0.8s;
  }

  @media(max-width:500px){
    ul li a{
      font-size: 1.2em;
    }
  }
  
  ul li a:hover{
    color:#ffeb3b;
    text-decoration: none;
  }
  
  ul li a:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    font-size: 6em;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  
  @media(max-width:950px){
    ul li a:before{
      font-size:5em;
    }
  }
  
  @media(max-width:800px){
    ul li a:before{
      font-size:4em;
    }
  }
  
  @media(max-width:630px){
    ul li a:before{
      font-size:3em;
    }
  }
  
  @media(max-width:500px){
    ul li a:before{
      font-size:5rem;
    }
  }
  
  ul li a:hover:before{
    opacity: 0.1;
    top: 50%;
  }

  .brand-header{
    position: absolute;
    top:60px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .brand-header2{
    position: absolute;
    top:100px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .brand-header3{
    position: absolute;
    top:60px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1px;
    display: none;
  }

  

  @media(max-width:1125px){
    .brand-header{
      display: none;
    }

    .brand-header3{
      display: block;
    }
  }

  @media(max-width:800px){
    .brand-header3{
      font-size: 28px;
    }

    .brand-header2{
      font-size: 23px;
    }

  }

  @media(max-width:400px){
    .brand-header3{
      font-size: 25px;
    }

    .brand-header2{
      font-size: 20px;
    }

  }


  
  
  
  