.toggle{
    position: fixed;
    top: 50px;
    right: 20px;
    min-width: 40px;
    height: 40px;
    background: #262626;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.5s;
    z-index: 900;
    border: 1px solid #fff;
    padding: 0 20px;
  }
  
  .logo{
    position: absolute;
    top: 20px;
    left: 20px;
    min-width: 120px;
    height: 120px;
    transition: 0.5s;
    z-index: 890;
  }

  .logo2{
    min-width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
  }
  
  

  .active{
    color: black !important;
    background: white;
    padding: 5px;
    border-radius: 0 10px;
  }

  .data-links{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  
  @media (max-width:768px){
    .logo{
      margin:7px;
      min-width: 80px;
      height: 80px;
    }
  
  }
  
  .toggle:before{
    content: 'Menu';
    color: #fff;
    line-height: 40px;
  
  }
  
  .toggle.active:before{
    content: 'Close';
    color: #fff;
    line-height: 40px;
  
  }
  
  .sidebar{
    scroll-behavior: auto;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #262626;
    transition: 0.5s;
    z-index: 890;
    overflow: auto;
  }

  .sidebar ul{
    position: relative;
    top: 3%;
    left: 50%;
    transform: translate(-50%,0%);
    padding: 0px !important;
    
  }

  .logoback2{
    margin-top: 100px;
  }
  
  .sidebar.active1{
    right:0;
  }

  
  .sidebar ul li{
    list-style: none;
    text-align: center;
  }
  
  .sidebar ul li a{
    display: block;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.2em;
    letter-spacing: 1px;
    font-weight: 800;
    transition: 0.8s;
  }

  @media(max-height:840px){
    .sidebar ul li a{
      font-size: 1.8rem
    }
  }

  @media(max-height:735px){
    .sidebar ul li a{
      font-size: 1.6rem
    }

    .logo2{
      min-width: 100px;
      height: 100px;
    }
  }

  @media(max-width:500px){
    .sidebar ul li a{
      font-size: 1.7em;
    }
  }
  
  .sidebar ul li a:hover{
    color:#ffeb3b;
    text-decoration: none;
  }
  
  .sidebar ul li a:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    transition: 0.5s;
    font-size: 6em;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  
  @media(max-width:950px){
    .sidebar ul li a:before{
      font-size:5em;
    }
  }
  
  @media(max-width:800px){
    .sidebar ul li a:before{
      font-size:4em;
    }
  }
  
  @media(max-width:630px){
    .sidebar ul li a:before{
      font-size:3em;
    }
  }
  
  @media(max-width:500px){
    .sidebar ul li a:before{
      font-size:5rem;
    }
  }
  
  .sidebar ul li a:hover:before{
    opacity: 0.1;
    top: 20%;
  }

  .brand-header{
    position: absolute;
    top:60px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
  }

  .brand-header2{
    position: absolute;
    top:115px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .brand-header3{
    position: absolute;
    top:60px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1px;
    display: none;
  }

  

  @media(max-width:1450px){
    .brand-header{
      display: none;
    }

    .brand-header3{
      display: block;
      top: 40px;
    }

    .brand-header2{
      top: 80px;
    }
  }

  

  @media(max-width:800px){
    .brand-header3{
      font-size: 28px;
      top: 60px;
    }

    .brand-header2{
      top: 90px;
      font-size: 23px;
    }

  }

  @media(max-width:400px){
    .brand-header3{
      font-size: 25px;
    }

    .brand-header2{
      font-size: 20px;
    }

  }

  .login-button1{
    position: absolute;
    text-transform: uppercase;
    z-index: 10;
    top: 35px;
    right: 120px;
   
  }

 


  @media(max-width:1370px){


    .login-button1{
      top: 40px;
    }
  }
  
  @media(max-width:1060px){
    .login-button1{
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      top: 120px;
      display: flex;
      justify-content: center;
      width:300px !important;
    }

      .btn1{
      padding: 10px;
      font-size: 18px !important;
    }
    
  }

  @media(max-width:695px){
    .btn1{
      font-size: 16px !important;
    }
  }

  

  @media(max-width:500px){
    .logo2{
      min-width: 120px;
      height: 120px;
    }

    .data-links{
      width: 250px;
    }

  }

  @media(max-width:400px){
    .logo2{
      min-width: 90px;
      height: 90px;
    }

    .data-links{
      width: 180px;
    }

    .sidebar ul li a{
      font-size: 1.4em;
    }

  }

  @media(max-width:350px){
    .logo2{
      min-width: 70px;
      height: 70px;
    }

    .data-links{
      width: 150px;
    }

    .sidebar ul li a{
      font-size: 1em;
    }

  }





  
  
  
  