.speaker{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(20deg, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(20deg, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.ctn7{
    padding-top: 200px;

}

.header1{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    background: black;
    border: 1px dotted black;
    border-radius: 20px 0;
    padding: 20px;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 1px;
    
  }
  
  @media(max-width:1458px){
    .header1{
      font-size: 35px;
    }
  }
  
  @media(max-width:1307px){
    .header1{
      font-size: 30px;
    }
  }
  
  @media(max-width:1156px){
    .header1{
      font-size: 25px;
    }
  }
  
  @media(max-width:1006px){
    .header1{
      font-size: 20px;
    }
  }
  


  



  @import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
  html {
    position: relative;
    overflow-x: hidden !important;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Quicksand", sans-serif;
    color: #324e63;
  }
  a, a:hover {
    text-decoration: none;
  }

  
  .wrapper {
    
    width: 100%;
    height: auto;
    min-height: 10vh;
    padding: 50px 20px;
    margin-top: 100px;
    display: flex;
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      height: auto;
      min-height: 10vh;
      margin-top: 100px;
    }
  }
  .profile-card {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
  }

  .profile-card__img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
  }
  @media screen and (max-width: 576px) {
    .profile-card__img {
      width: 120px;
      height: 120px;
    }
  }
  .profile-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile-card__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
  }
  .profile-card__name {
    font-weight: 700;
    font-size: 24px;
    color: #6944ff;
    margin-bottom: 15px;
  }
  .profile-card__txt {
    font-size: 21px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;
  }
  .profile-card__txt strong {
    font-weight: 700;

  }

  .profile-card-loc__txt{
    padding: 20px;
  }

  .profile-card__year{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(20deg, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(20deg, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-family: 'Quicksand';
    font-size: 25px;
    margin:20px;
  }

  .profile-card-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
  }


  .profile-card-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  @media screen and (max-width: 576px) {
    .profile-card-ctr {
      flex-wrap: wrap;
    }
  }
  .profile-card__button {
    background: none;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 15px 35px;
    padding: 15px 40px;
    min-width: 201px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all 0.3s;
  }
  @media screen and (max-width: 768px) {
    .profile-card__button {
      min-width: 170px;
      margin: 15px 25px;
    }
  }
  @media screen and (max-width: 576px) {
    .profile-card__button {
      min-width: inherit;
      margin: 0;
      margin-bottom: 16px;
      width: 100%;
      max-width: 300px;
    }
    .profile-card__button:last-child {
      margin-bottom: 0;
    }
  }
  .profile-card__button:focus {
    outline: none !important;
  }
  @media screen and (min-width: 768px) {
    .profile-card__button:hover {
      transform: translateY(-5px);
    }
  }
  .profile-card__button:first-child {
    margin-left: 0;
  }
  .profile-card__button:last-child {
    margin-right: 0;
  }
  .profile-card__button.button--blue {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
  }
  .profile-card__button.button--blue:hover {
    box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
  }
  .profile-card__button.button--orange {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
  }
  .profile-card__button.button--orange:hover {
    box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
  }
  .profile-card__button.button--gray {
    box-shadow: none;
    background: #dcdcdc;
    color: #142029;
  }
  
  
  
  
  