.wysiwyg{
    .public-DraftEditor-content{
        height: 300px;
        overflow: auto;
        padding: 10px;

    }
    .public-DraftStyleDefault-block{
        // background: red;

    }
    .rdw-fontsize-dropdown{
        display: none;
    }
    border: 1px solid grey;
}