.speaker{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(20deg, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(20deg, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.ctn7{
    padding-top: 250px;

}


  

  @media(max-width:1006px){
    .header1{
      font-size: 20px;
    }
  }

  @media(max-width:405px){
    .header1{
      font-size: 15px;
    }
  }
  
  

  html {
    position: relative;
    overflow-x: hidden !important;
  }
  * {
    box-sizing: border-box;
  }
  body {
    color: #324e63;
  }
  a, a:hover {
    text-decoration: none;
  }

  
  .wrapper {
    
    width: 100%;
    height: auto;
    min-height: 10vh;
    padding: 50px 20px;
    margin-top:200px;
    display: flex;
  }
  @media screen and (max-width: 767px) {
    .wrapper {
      height: auto;
      min-height: 10vh;
      margin-top: 200px;
    }
  }

  @media screen and (max-width: 450px) {
    .wrapper {
      height: auto;
      min-height: 10vh;
      margin-top: 100px;
    }
  }

  .profile-card {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 1000px;
    position: relative;
  }

  .profile-card__img {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
  }
  @media screen and (max-width: 576px) {
    .profile-card__img {
      width: 150px;
      height: 150px;
    }

    .profile-card__name{
      margin-top: 20px;
    }
  }
  .profile-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile-card__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
  }
  .profile-card__name {
    font-weight: 700;
    font-size: 30px;
    color: #6944ff;
    margin-bottom: 15px;
    margin-top: -100px;
  }

  @media screen and (max-width: 576px) {
    .profile-card__name{
      margin-top: 0px;
    }
  }

  
  .profile-card__txt {
    font-size: 21px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;
  }

  .profile-card__txt strong {
    font-weight: 700;

  }

  .profile-card-loc__txt{
    padding: 20px;
  }

  .profile-card__year{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(20deg, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(20deg, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin:20px;
  }



  .profile-card-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
  }

  @media screen and (max-width: 450px) {
    .profile-card__name{
      font-size: 22px;
    }

    .profile-card__txt{
      font-size: 17px;
    }

    .profile-card__year{
      font-size: 18px;
    }

    .profile-card-loc{
      font-size: 16px;
    }

  }


  .profile-card-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  @media screen and (max-width: 576px) {
    .profile-card-ctr {
      flex-wrap: wrap;
    }
  }

  
  
  
  
  