body {
    font-family: sans-serif;
  }
  
  /*Responsive table*/
  table { 
    width:90%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  
  th { 
    padding: 8px; 
    text-align: left; 
    height: 50px;
    background: #34495e; 
    color: white;
    font-weight: bold;
  }

  td{
    padding: 8px; 
    text-align: left; 
  }

  tr:nth-of-type(even) { 
    background:#E8E8E8; 
  }
  

  h1 a {
    text-decoration: none;
    color: #fff;
  }

  .display-4{
      margin:1%;
  }

