<!DOCTYPE html>
<body style =" margin: 0; padding: 0">
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
             <td align="center"  style="padding: 40px 0 20px 0;">
              <img src="https://gkplbg.bn.files.1drv.com/y4mgQhaSiaCNhWbwcxH5bDJnbHmOVTmWoquqsZ9rVWsdejyJgwTXQDh4B71rmRa42kqjHFM3EUAuEtfldqnDzWm5uJFLtRBmKo_kK_D8raBOJC-EXjvKRglS-fUWBFtStDLlGlPsF9gIWlXwPFAIRf9dqjhkM6SiDHcfDkeOSl0-xODfiUonNWv_vnU-UYb223a5edPlAVfU21qACv8TSSzxg?width=1632&height=306&cropmode=none" alt="National Institute of Technology, Raipur" width="600" height="115" style="display: block;" />
             </td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" style="padding: 0px 30px 40px 30px;">
                    <p>
                        Greetings from Career Development Cell NIT Raipur!
                        <br/><br/>
                        Your startup is setup and ready to get in action.<br/>
                        We are delighted to announce that <strong>{{startup_name}} is now eligible to recruit interns</strong>.
                        <br/><br/>
                        Take advantage of the pool of talent you are surrounded with at this institute of National Importance
                        by recruiting some of the brightest minds of the country.
                        </br>
                        </br>
                        <strong>To create a new work profile(/job opening/member requirement):</strong>
                        <ul>
                            <li>Visit our startup portal</li>
                            <li>Login to get to your Idea Dashboard</li>
                            <li>Then click on the Work Profile section in the navigation bar above</li>
                            <li>Click on "New work profile" button to create a new profile</li>
                            <li>Fill up all the necessary details</li>
                        </ul>
                        To check out the number of applicants and further details, you can visit to the work profile page in the Idea Dashboard for your respective idea/startups.
                        </br>
                        </br>
                        <strong>The Deadline to create work profiles is 30th April EOD.</strong>
                        <br/><br/>
                        We wish you success in your new duties!
                        <br/>
                        <em>An exciting journey awaits you! May luck be at your side!</em>
                    </p>
                </td>
            </tr>
        </table>
    </table>
</body>