<!DOCTYPE html>
<body style =" margin: 0; padding: 0">
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
             <td align="center"  style="padding: 40px 0 20px 0;">
              <img src= "https://gkplbg.bn.files.1drv.com/y4mgQhaSiaCNhWbwcxH5bDJnbHmOVTmWoquqsZ9rVWsdejyJgwTXQDh4B71rmRa42kqjHFM3EUAuEtfldqnDzWm5uJFLtRBmKo_kK_D8raBOJC-EXjvKRglS-fUWBFtStDLlGlPsF9gIWlXwPFAIRf9dqjhkM6SiDHcfDkeOSl0-xODfiUonNWv_vnU-UYb223a5edPlAVfU21qACv8TSSzxg?width=1632&height=306&cropmode=none" 
              alt="National Institute of Technology, Raipur" width="600" height="115" style="display: block;" />
             </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 0px 30px 40px 30px;">
                    <p>
                        Greetings from Career Development Cell NIT Raipur!
                        <br/><br/>
                        Thank you so much for your interest and idea. We are always delighted to see our students building and growing.
                        Unfortunately, <strong>{{startup_name}} has not received approval</strong> from us!
                        <br/>
                        You can still try, and come up with a better approach or idea, and with that receive incubation space 
                        at NIT Raipur along with various grants.
                        <br/><br/>   
                        We wish you success in your new duties!
                        <br/>
                        <em>An exciting journey awaits you!</em> May luck be at your side!
                    </p>
                </td>
            </tr>
        </table>
    </table>
   
​
</body>