<!DOCTYPE html>
<body style =" margin: 0; padding: 0">
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
             <td align="center"  style="padding: 40px 0 20px 0;">
              <img src= "https://gkplbg.bn.files.1drv.com/y4mgQhaSiaCNhWbwcxH5bDJnbHmOVTmWoquqsZ9rVWsdejyJgwTXQDh4B71rmRa42kqjHFM3EUAuEtfldqnDzWm5uJFLtRBmKo_kK_D8raBOJC-EXjvKRglS-fUWBFtStDLlGlPsF9gIWlXwPFAIRf9dqjhkM6SiDHcfDkeOSl0-xODfiUonNWv_vnU-UYb223a5edPlAVfU21qACv8TSSzxg?width=1632&height=306&cropmode=none"  
              alt="National Institute of Technology, Raipur" width="600" height="115" style="display: block;" />
             </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 0px 30px 40px 30px;">
                    <p>
                        Greetings from Career Development Cell NIT Raipur!
                        <br/><br/>
                        Your startup has made progress and we're delighted to see your zeal,
                        but <strong>{{startup_name}} isn't eligible to recruit interns yet</strong>.
                        <br/><br/>
                        Your startup does need to grow more before expanding it to take on employees. But do not lose hope
                        and keep working, only then you will get to take advantage of the pool of talent you are surrounded with
                        by recruiting some of the brightest minds of the country.
                        <br/><br/>   
                        All the best!
                        <br/>
                        <em>An exciting journey awaits you!</em> May luck be at your side!
                    </p>
                </td>
            </tr>
        </table>
    </table>
   
​
</body>