@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,800&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x:hidden;
}