.indiv-startup{
    border: 3px solid black;
}

.brand-head{
    position: absolute;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    font-weight: 800;
    font-size: 40px;
    word-spacing: 5px;
}