.caportal{
    padding-top: 180px;
    background: #2F2F28;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

@media(max-width:960px){
  .caportal{
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

.landing{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


  .card{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
  }

  .mb-0{
    font-weight: 800;
    color: #F9D342 !important;
  }

  .mb-0:hover{
    color: white !important;
  }

  .head1{
    text-align: center;
  }

  .head2{
    text-align: center;
    padding: 10px;
    border-bottom: 8px solid #F9D342;
  }

  .head3{
    text-align: center;
    padding: 10px;
    border-bottom: 10px solid #F9D342;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .hd{
    text-align: center;
    border-bottom: 10px solid #F9D342;
    width: 500px;
    margin-left: auto;
    margin-right: auto;

  }

  @media(max-width:530px){
    .hd{
      font-size: 20px;
      width: 200px;
    }
  }


  .textc{
    text-align: center;
  }

  .card{
    background: #292826 !important;
    color: white !important;
  }

@media(max-width:450px){
  .head2{
    font-size: 25px;
  }
}

.flex-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ben-cards{
  flex: 1 0 250px;
  margin: 10px;
  background:rgb(0,0,0,0.7);
  outline: 2px solid white;
  outline-offset: -5px;
  color: white;
  transition: 0.3s;
  padding: 10px;
}

.ben-cards:hover{
  background:rgba(255,255,255,0.5);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  outline: 2px solid black;
  color: black;
}

.p1{
  font-size: 100px;
  text-align: center;
}


.p2{
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.txt5{
  font-size: 22px;
}

@media(max-width:460px){
  .txt5{
    font-size: 18px;
  }
}

.num{
  color: white;
  background: #292826;
  padding: 9px;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  
}

.steps{
  margin-top: 20px;
}

.individual-tabs{
  /* flex: 1 0 30%; */
  margin: 0 20px;
}

.pr-mn{
  max-width: 100%;
  max-height: 100%;
}

.pr-image{
  max-width: 300px;
  max-height: 300px;
}


  
