.team-whole{
  background: #7b4397 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(20deg, #dc2430, #7b4397) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(20deg, #dc2430, #7b4397) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

.team1{
  text-align: center;
  padding: 50px;
  padding-top:200px;
  
  font-family:"Raleway";
}

.team{
    text-align: center;
    padding: 50px;
    padding-top:50px;
    
    font-family:"Raleway";
}

/*h2 {
    font-size:20px;
}*/

.member-image{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: 0.3s;
  
}

.btn{
  color:#7b4397 ;
  font-weight: 800;
  background: white;
  margin: 10px;
  font-size: 20px;

}

/*.hover-text{
  position: relative;
  width: 270px;
  height: 270px;
  margin:0 auto;
  background: black;
  opacity: 0.8;
  z-index: 10;
  top: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid white;
  outline-offset: -15px;
}*/


.flex-containerrr {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }

  .flex-containerrr div{
    margin:0 7px;
  }
  
  .member-name{
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: 800;
    margin-top: -20px;
    border: 2px solid white;
    background: black;
    border-radius: 0 0 8px 8px;
    padding: 8px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .member-name-mng{
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin-top: -30px;
    border: 2px solid white;
    background: black;
    border-radius: 0 0 8px 8px;
    padding: 8px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .member-name-exec{
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin-top: -30px;
    border: 2px solid white;
    background: black;
    border-radius: 0 0 8px 8px;
    padding: 8px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .position{
    position: relative;
    top: -50px;
    text-align: center;
    margin-top: 50px;
    color: #7C4295;
    background: white;
    
    padding: 10px;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;

  }

  .position-exec/*managers,hc's*/{
    position: relative;
    top: -50px;
    text-align: center;
    margin-top: 50px;
    color: #7C4295;
    background: white;
    border: 1px dotted black;
    padding: 10px;
    font-weight: 800 !important;
    font-size: 22px;
    letter-spacing: 1px;
    width: 400px !important;
    margin-right: auto;
    margin-left: auto;


  }

  @media(max-width:450px){
    .position{
      font-size: 25px;
      width: 350px;
    }
  }

  @media(max-width:350px){
    .position{
      font-size: 25px;
      width: 300px;
    }
  }

  @media(max-width:430px){
    .position-exec{
      width: 350px !important;
    }
  }

  @media(max-width:350px){
    .position-exec{
      
      width: 300px;
    }
  }



.team-whole{
  padding-top: 250px;
}

.domain{
  color: white;
  font-weight: 600;
  margin-top: -30px;
}

.team-links{
  position: relative;
  color: white;
  background:#0A0908 !important;
  font-weight: 800;
  font-size: 20px;
  padding: 15px;
  transition: 0.2s;
}

.team-links:hover{
  color: white;
  background: green !important;
}

.team-div{
  display: flex;
  justify-content: center;
  margin-top:20px;
}


/*****************************************----------------------------------*/



.photobox{
  display: inline-block;
}

.photobox__previewbox{
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.photobox__preview{
  display: block;
<<<<<<< HEAD
=======
  max-width: 100%;
>>>>>>> 912da2d5aaffaf067fb05c95549657091f56fc2f
}

.photobox__previewbox:before{
  content: "";
}

.photobox_type9 .photobox__previewbox:before{
  width: 0;
  height: 0;
  padding: 25%;
  
  background-color: var(--photoboxOverlay, rgba(0, 0, 0, .5));
  border-radius: 50%;
  
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
  will-change: transform;
  transform: translate(-50%, -50%) scale(0);
  outline: 3px solid white;
  outline-offset: -40px;
}

<<<<<<< HEAD
@media(max-width:450px){
  .photobox_type9 .photobox__previewbox:before{
    outline: 2px solid white;
    outline-offset: -38px;
  }
}

=======
>>>>>>> 912da2d5aaffaf067fb05c95549657091f56fc2f
.photobox_type9:hover .photobox__previewbox:before{
  transform: translate(-50%, -50%) scale(4);
  transition-duration: var(--photoboxAnimationDuration, .8s);
}

.photobox_type9 .photobox__label{
  margin: 0 auto !important;
  text-align: center;
  
  opacity: 0;  
  transition: opacity calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity, transform;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  z-index: 3;
  color: #FBBD2A;
  font-weight: 800;
  font-size: 30px;
  
}

<<<<<<< HEAD
@media(max-width:450px){
  .photobox_type9 .photobox__label{
    font-size: 22px;
  }
}

=======
>>>>>>> 912da2d5aaffaf067fb05c95549657091f56fc2f
.photobox_type9:hover .photobox__label{
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 2);
  transition-delay: calc(var(--photoboxAnimationDuration, .8s) / 4);
}

.photobox_type9 .photobox__preview{
	transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
	transform: scale(1);
}

.photobox_type9:hover .photobox__preview{
  transform: scale(1.2);
}